@import './bootstrap/bootstrap.min.css';

@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'nav.scss';
@import 'resume-item.scss';
@import 'bootstrap-overrides.scss';
@import './fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i');


html,


body.dark {

  padding-top: 0;
  -webkit-font-smoothing: antialiased;

  --bg: darkslategray;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: initial;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

}

body.light-mode {

  background-color: white;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #2b2b2b;
  color: #dfdfdf;
  --textTitle: white;

  .navbar {
    background-color: #1b2938;
  }

  .dark-mode-toggle>button {
    color: #999;

    &:last-child {
      color: lightblue;
    }
  }
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;

  &>button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;

    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;

  &>button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;

    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;

}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked+label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  &+label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px ;
  grid-gap: 80px;
  background-color: #fff;
}

.box {
  max-width: 450;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
 background-color: #444;

}



/////